---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<nav class="flex p-4 align-middle">
    <h2 class="text-xl"><a id="navbar-brand" href="/">{SITE_TITLE}</a></h2>
    <p class="ml-8">{SITE_DESCRIPTION}</p>
</nav>
